---
layout: default
slides:
  - picture: assets/images/spot.jpg
    title: SPOT
    description: Seja um Fliper e conheça nosso espaço. Ambiente Profissional 24 horas com Segurança e Comodidade. Colaboração e Networking. Endereço Comercial e Fiscal. Planos Facilitados e Adaptáveis ao seu perfil.
    link: /price_table.html
    number: 0
    planet: assets/images/gray-planet.png
  - picture: assets/images/auditorio.jpg
    title: AUDITÓRIO
    description: Auditório para até 50 pessoas. Espaço para descompressão e confraternização. Sala de Treinamento, Palestras e Workshop. Televisão, home theater, internet fibra-ótica, banheiro independente ótima localização e muito mais.
    link: /price_table.html
    number: 1
    planet: assets/images/blue-planet.png
  - picture: assets/images/salas-reuniao.jpg
    title: SALAS DE REUNIÃO
    description: Salas multi-uso, salas de jogos, salas de reunião grande, média e pequena. Podendo se adaptar conforme cada necessidade. Wi-Fi, cozinha e Recepção.
    link: /price_table.html
    number: 2
    planet: assets/images/red-planet.png
  - picture: assets/images/endereco-fiscal.jpg
    title: ENDEREÇO FISCAL
    description: Endereço Fiscal e Comercial. Recepcionista, Telefone, Recados. Ótima Localização com Praça de Alimentação do BIG da Beira Rio -400m  + dois restaurantes -200m. 3 Opções de Estacionamento nos arredores.
    link: /price_table.html
    number: 3
    planet: assets/images/green-planet.png
  - picture: assets/images/sala-privativa.jpg
    title: SALAS PRIVATIVAS
    description: Salas Privativas para até 6 SPOTS. Melhor custo benefício. Ambiente profissional. Comodidade e descontração. 24 horas. Colaboração e Networking. Internet Fibra ótica. 18 metros quadrados.
    link: /price_table.html
    number: 4
    planet: assets/images/yelow-planet.png
---

<header class="hero">
  <div class="container">
    <div class="row hero-row text-center">
      <div class="hero-logo">
        <img src="/assets/images/logo-fliperama.png">
      </div>
    </div>
  </div>
  <span class="hero-arrow js-hero-arrow icon-arrow-down"></span>
</header>

<div class="section" id="espaco">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8">
        <h2 class="title">Prepare-se para decolar!</h2>
          <h5 class="description">Seu espaço de negócios e relacionamento. Aqui você tem espaço para estabelecer seu negócio, começar sua start-up, fazer reuniões, empreender, crescer e decolar.</h5>
      </div>
    </div>
  </div>
</div>

<div class="section" id="carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'active' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li data-target="#carouselExampleControls" data-slide-to="{{ slide.number }}" class="{{ class }}"><img src="{{ slide.planet }}" style="height: 50px; width: 50px;"></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
      {% for slide in page.slides %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
          <div class="item-description">
            <div class="row title position-title-990px">
              <div class="col-md-12 text-center">{{ slide.title }}</div>
            </div>
            <div class="row description hide-990px">
              <div class="col-md-12 text-center">
                <p class="">{{ slide.description }}</p>
              </div>
            </div>
            <div class="row link position-link-990px">
              <div class="col-md-12 text-center">
                <a href="{{ slide.link }}">
                  <button class="btn btn-primary btn-round">Saiba mais</button>
                </a>
              </div>
            </div>
          </div>
          <img class="d-block" src="{{ slide.picture }}" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    </a>
  </div>
</div>
