---
layout: default
slides:
  - picture: assets/images/spot.jpg
    title: SPOT
    description: Seja um Fliper e conheça nosso espaço. Ambiente profissional com comodidade e segurança 24 horas. Colaboração e networking. Endereço comercial e fiscal. Planos facilitados e adaptáveis ao seu perfil.
    link: /price_table.html
    slide_number: 0
  - picture: assets/images/auditorio.jpg
    title: AUDITÓRIO
    description: Auditório para até 50 pessoas, ideal para treinamentos, palestras e workshop. Televisão, home theater, Wi-Fi, banheiro independente. Espaço multiuso para descompressão, jogos e confraternização.
    link: /price_table.html
    slide_number: 1
  - picture: assets/images/salas-reuniao.jpg
    title: SALAS DE REUNIÃO
    description: Opções de salas grande, média e pequena. Televisão, projetor, Internet fibra ótica. Ambiente modular, adaptável a cada necessidade, podendo agregar até 3 ambientes com copa. Wi-Fi, cozinha e recepção.
    link: /price_table.html
    slide_number: 2
  - picture: assets/images/endereco-fiscal.jpg
    title: ENDEREÇO FISCAL
    description: Recepcionista, telefone, recados. Ótima localização. Praça de alimentação do BIG da Beira Rio -400m + dois restaurantes -200m. 3 opções de estacionamento.
    link: /price_table.html
    slide_number: 3
  - picture: assets/images/sala-privativa.jpg
    title: SALAS PRIVATIVAS
    description: Salas Privativas para até 6 spots, 18 metros quadrados. Melhor custo benefício. Ambiente profissional. Wi-Fi. Comodidade e descontração. Colaboração e networking.
    link: /price_table.html
    slide_number: 4
---

<header class="hero">
  <div class="container">
    <div class="row hero-row text-center">
      <div class="hero-logo">
        <img src="/assets/images/logo-fliperama.png">
      </div>
    </div>
  </div>
  <span class="hero-arrow js-hero-arrow icon-arrow-down"></span>
</header>

<div class="section" id="espaco">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8">
        <h2 class="title">Prepare-se para decolar!</h2>
          <h5 class="description">Seu espaço de negócios e relacionamento. Aqui você tem espaço para estabelecer seu negócio, começar sua startup, fazer reuniões, empreender, crescer e decolar.</h5>
      </div>
    </div>
  </div>
</div>

<div class="section" id="carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'active' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li data-target="#carouselExampleControls" data-slide-to="{{ slide.slide_number }}" class="{{class}}"></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
      {% for slide in page.slides %}
        {% if forloop.first %}
          <div class="carousel-item active">
        {% else %}
          <div class="carousel-item">
        {% endif %}
          <div class="item-description">
            <div class="row title position-title-990px">
              <div class="col-md-12 text-center">{{ slide.title }}</div>
            </div>
            <div class="row description hide-990px">
              <div class="col-md-12 text-center">
                <p class="">{{ slide.description }}</p>
              </div>
            </div>
            <div class="row link position-link-990px">
              <div class="col-md-12 text-center">
                <a href="{{ slide.link }}">
                  <button class="btn btn-primary btn-round">Saiba mais</button>
                </a>
              </div>
            </div>
          </div>
          <img class="d-block" src="{{ slide.picture }}" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    </a>
  </div>
</div>
