<footer class="footer footer-default" id="contato">
  <div class="container" >
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/fliper-logo.png" style="margin-bottom: -25px;">
        <div class="row">
          <div class="col-sm-1">
            <i class="fa fa-globe fa-lg contact-icon"></i>
          </div>
          <div class="col-sm-11">
            Rua Orestes Guimarães, 876, 4o Andar, América - Joinville/SC - CEP 89204-060
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <i class="fa fa-envelope fa-lg contact-icon"></i>
          </div>
          <div class="col-sm-11">
            fliperama@fliperamaec.com.br
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <i class="fa fa-phone fa-lg contact-icon"></i>
          </div>
          <div class="col-sm-11">
            (47) 3029 5060
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <a href="https://pt-br.facebook.com/fliperama.ec/" target="_blank"><i class="fa fa-facebook-square fa-lg social-media"></i></a>
          </div>
          <div class="col-sm-1">
            <a href="https://pt.linkedin.com/company/fliperama-s.a.-espa%C3%A7o-colaborativo" target="_blank"><i class="fa fa-linkedin-square fa-lg social-media" style="padding-left: 10px;"></i></a>
          </div>
        </div>
        <br>
      </div>
      <div class="col-md-8">
        <div class="google-map" id="googleMap"></div>
        <div class="copyright">
            &copy;
          <script> document.write(new Date().getFullYear()) </script> ● Feito com <i class="fa fa-heart fa-lg"></i> por <a href="http://www.magrathealabs.com" target="_blank"><img src="/assets/images/mlabs.png" style="width: 145px"></a> & <a href="https://www.ideiazul.com/" target="_blank"><img src="/assets/images/ideiazul.png" style="width: 145px"></a>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
