<footer class="footer footer-default" id="contato">
  <div class="container" >
    <div class="row">
      <div class="col-sm-4">
        <div class="text-center">
          <img src="/assets/images/fliper-logo.png">
        </div>
        <table>
          <tr>
            <td style="vertical-align: top;"><i class="fa fa-globe fa-lg"></i></td>
            <td>Rua Orestes Guimarães, 876, 4o Andar, América - Joinville/SC - CEP 89204-060</td>
          </tr>
          <tr>
            <td><i class="fa fa-envelope fa-lg"></i></td>
            <td>fliperama@fliperamaec.com.br</td>
          </tr>
          <tr>
            <td><i class="fa fa-phone fa-lg"></i></td>
            <td>(47) 3029 5060</td>
          </tr>
        </table>
        <br>
        <div class="text-center">
          <a href="https://pt-br.facebook.com/fliperama.ec/" target="_blank"><i class="fa fa-facebook-square fa-lg social-media"></i></a>
          <a href="https://pt.linkedin.com/company/fliperama-s.a.-espa%C3%A7o-colaborativo" target="_blank"><i class="fa fa-linkedin-square fa-lg social-media" style="padding-left: 10px;"></i></a>
        </div>
        <br>
      </div>
      <div class="col-sm-8">
        <div class="google-map" id="googleMap"></div>
        <div class="copyright" style="padding-top: 25px">
            &copy;
          <script> document.write(new Date().getFullYear()) </script>, Feito com <i class="fa fa-heart fa-lg" style="color: red;"></i> por <a href="https://www.magrathealabs.com" target="_blank"><img src="/assets/images/mlabs.png" style="width: 145px">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
