---
---

@import "bootstrap/bootstrap";
@import "now-ui-kit";
@import "demo";

// HERO
.hero {
  background-image: url('/assets/images/hero-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    opacity: 0.2;
    z-index: 0;
  }

  .hero-row {
    position: relative;
    z-index: 1;

    .hero-col {
      h1 {
        text-transform: uppercase;
        color: white;
        font-size: 70px;
        font-weight: 700;
        line-height: 85px;
        margin-bottom: 70px;
      }

      p.hero-message {
        color: white;
        font-size: 24px;
        font-weight: 300;
        margin: 0 auto;
        width: 75%;
      }
    }
  }

  .hero-arrow {
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    bottom: 30px;
  }
}


// TAG INDEX
.tag-index {
  .post-date {
    color:#666;
    font-size:11px;
  }
}

// POSTS
.post-container {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 800px;
  max-width: 100%;
  padding: 0 20px;

  p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
  }

  .post-header {
    .post-meta {
      margin-bottom: 64px;

      .post-title {
        @extend .text-uppercase;
        margin: 40px 0 8px 0;
      }

      .post-date-feature {
        text-align: center;
        border-bottom: 1px dotted #e0e1e6;
        margin: 0 auto;
        width: 80%;

        time {
          @extend .text-uppercase;
          display: inline-block;
          position: relative;
          top: 0.7em;
          background: #fff;
          text-align: center;
          padding: 0 1em;
          text-transform: none;
          letter-spacing: 1px;
        }
      }
    }

    .post-tags {
      @extend .text-lowercase;
    }
  }
}
