---
permalink: price_table
layout: page
title: Serviços
spaces: Salas de Reunião

rooms:
  - title: Sala Pequena
    capacity: 6
    kitchen: yes
    internet: yes
    private_bathroom:
    media: yes
    private_fridge:
    value_business_hours: 30/hora
    value_weekends: 60/hora
  - title: Sala Grande
    capacity: 10
    kitchen: yes
    internet: yes
    private_bathroom: yes
    media: yes
    private_fridge: yes
    value_business_hours: 50/hora
    value_weekends: 80/hora
  - title: Sala Integrada
    capacity: 20
    kitchen: yes
    internet: yes
    private_bathroom: yes
    media: yes
    private_fridge: yes
    value_business_hours: 80/hora
    value_weekends: 140/hora
  - title: Auditório
    capacity: 20 a 40
    kitchen: yes
    internet: yes
    private_bathroom: yes
    media: yes
    private_fridge:
    value_business_hours: Sob Consulta
    value_weekends: Sob Consulta
services:
  - title: Endereço Fiscal
    access_hours:
    access_type:
    mail: Correspondência*
    internet:
    receive_phone_calls: Atendimento telefônico padrão (anotar recados)
    make_phone_calls:
    spot:
    drawer:
    reception:
    printing:
    kitchen:
    fliper_market:
    meeting_room: Uso das Salas de Reunião mediante reserva e pagamento à parte
    decision_making:
    value: R$ 80,00/mês ou
    value_two: R$ 800,00/ano
  - title: Hora Livre
    access_hours: Dias úteis / Horário comercial 8 às 18h
    access_type: Cartão na recepção a cada entrada/saída
    mail:
    internet: Acesso à internet
    receive_phone_calls:
    make_phone_calls:
    spot: Spot individual disponível
    drawer:
    reception:
    printing: Impressão/Scanner A4 PB pago à parte
    kitchen: Copa de apoio, água e café
    fliper_market: FliperMercado pago na hora
    meeting_room: Uso das Salas de Reunião mediante reserva e pagamento à parte
    decision_making:
    value: R$ 8,00/hora
  - title: Pacote 40 horas
    access_hours: Dias Úteis / Horário Comercial 8h às 18h
    access_type: Cartão na recepção a cada entrada/saída
    mail:
    internet: Acesso à internet
    receive_phone_calls:
    make_phone_calls:
    spot: Spot individual disponível
    drawer:
    reception:
    printing: Impressão/Scanner A4 PB pago à parte
    kitchen: Copa de apoio, água e café
    fliper_market: FliperMercado pago na hora
    meeting_room: Uso das Salas de Reunião mediante reserva e pagamento à parte
    decision_making:
    value: R$ 294,00/mês
  - title: Pacote 80 horas
    access_hours: Dias Úteis / Horário Comercial 8h às 18h
    access_type: Cartão na recepção a cada entrada/saída
    mail:
    internet: Acesso à internet
    receive_phone_calls:
    make_phone_calls:
    spot: Spot individual disponível
    drawer:
    reception:
    printing: Impressão/Scanner A4 PB pago à parte
    kitchen: Copa de apoio, água e café
    fliper_market: FliperMercado pago na hora
    meeting_room: Uso das Salas de Reunião mediante reserva e pagamento à parte
    decision_making:
    value: R$ 420,00/mês
  - title: Membro
    access_hours: Todos os dias / 24h
    access_type: Liberação automática por biometria
    mail: Gerenciamento de correspondência
    internet: Acesso à internet de alta velocidade
    receive_phone_calls: Atendimento telefônico padrão (anotar recados / passar ligações)
    make_phone_calls: Uso livre do telefone para ligações para fixo
    spot: Spot individual fixo
    drawer: Gaveteiro individual
    reception: Serviço de Recepção padrão (anotar recados / receberlientões)
    printing: Impressão/Scanner A4 PB sem custo adicional
    kitchen: Copa de apoio, água e café
    fliper_market: FliperMercado pago por mês
    meeting_room: Uso das Salas de Reunião mediante reserva
    decision_making: Membro da Comunidade Fliperama (participação na gestão do espaço, eventos e programas internos)
    value: R$ 599,00/mês
  - title: Studio
    access_hours: Todos os dias / 24h
    access_type: Liberação automática por biometria
    mail: Gerenciamento de correspondência
    internet: Acesso à internet de alta velocidade
    receive_phone_calls: Atendimento telefônico padrão (anotar recados / passar ligações)
    make_phone_calls: Uso livre do telefone para ligações para fixo
    spot: Spot individual fixo
    drawer: Gaveteiro individual
    reception: Serviço de Recepção padrão (anotar recados e receber clientes)
    printing: Impressão/Scanner A4 PB sem custo adicional
    kitchen: Copa de apoio, água e café
    fliper_market: FliperMercado pago por mês
    meeting_room: Uso das Salas de Reunião mediante reserva
    decision_making: Membro da Comunidade Fliperama (participação na gestão do espaço, eventos e programas internos)
    value: R$ 3000,00/mês
---

<div class="section" id="seja-um-flipper" style="padding-top: 0px; padding-bottom: 0px;">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-12 col-lg-8">
        <h2 class="title">Seja um Fliper. Faça parte deste universo colaborativo. </h2>
          <h5 class="description">Planos flexíveis. Sem fidelidade. Sem multa por rescisão. Ambientes modernos e adaptáveis. </h5>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container services-table">
    <h3 class="title">{{ page.title }}</h3>
    <div class="row table-header">
      {% for service in page.services %}
        <div class="col-sm-2 text-center column-title" style="text-transform: capitalize;">
          <h4>{{ service.title }}</h4>
        </div>
      {% endfor %}
    </div>
    <div class="row" style="margin-bottom: -25px; margin-top: 10px;">
      <div>
        <h3 class="subtitle pull-left">Acesso</h3>
      </div>
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.access_hours %}
          <div class="col-sm-2 text-center column-value">{{ service.access_hours }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.access_type %}
          <div class="col-sm-2 text-center column-value">{{ service.access_type }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row" style="margin-bottom: -25px; margin-top: 10px;">
      <div>
        <h3 class="subtitle pull-left">Correspondência</h3>
      </div>
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.mail %}
          <div class="col-sm-2 text-center column-value">{{ service.mail }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row" style="margin-bottom: -25px; margin-top: 10px;">
      <div>
        <h3 class="subtitle pull-left">Internet / Telefone</h3>
      </div>
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.internet %}
          <div class="col-sm-2 text-center column-value">{{ service.internet }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.receive_phone_calls %}
          <div class="col-sm-2 text-center column-value">{{ service.receive_phone_calls }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.make_phone_calls %}
          <div class="col-sm-2 text-center column-value">{{ service.make_phone_calls }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row" style="margin-bottom: -25px; margin-top: 10px;">
      <div>
        <h3 class="subtitle pull-left">Espaço</h3>
      </div>
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.spot %}
          <div class="col-sm-2 text-center column-value">{{ service.spot }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.drawer %}
          <div class="col-sm-2 text-center column-value">{{ service.drawer }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.reception %}
          <div class="col-sm-2 text-center column-value">{{ service.reception }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.printing %}
          <div class="col-sm-2 text-center column-value">{{ service.printing }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.kitchen %}
          <div class="col-sm-2 text-center column-value">{{ service.kitchen }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.fliper_market %}
          <div class="col-sm-2 text-center column-value">{{ service.fliper_market }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for service in page.services %}
        {% if service.decision_making %}
          <div class="col-sm-2 text-center column-value">{{ service.decision_making }}</div>
        {% else %}
          <div class="col-sm-2 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row" style="margin-bottom: -25px; margin-top: 10px;">
      <div>
        <h3 class="subtitle pull-left">Valores</h3>
      </div>
    </div>
    <div class="row values">
      {% for service in page.services %}
        <div class="col-sm-2 text-center column-value">{{ service.value }}<br>{{service.value_two}}</div>
      {% endfor %}
    </div>
    <div class="row pull-left">
      <h12>*Exceto para grandes encomendas.</h12>
    </div>
  </div>
</div>

<div class="section">
  <div class="container spaces-table">
    <h3 class="title">{{ page.spaces }}</h3>
    <div class="row table-header">
      {% for room in page.rooms %}
        <div class="col-sm-3 text-center column-value" style="text-transform: capitalize;">
          <h4>{{ room.title }}</h4>
        </div>
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        <div class="col-sm-3 text-center column-value">{{ room.capacity }} pessoas</div>
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        {% if room.kitchen %}
          <div class="col-sm-3 text-center column-value">Copa de apoio, água e café</div>
        {% else %}
          <div class="col-sm-3 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        {% if room.internet %}
          <div class="col-sm-3 text-center column-value">Acesso à internet</div>
        {% else %}
          <div class="col-sm-3 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        {% if room.private_bathroom %}
          <div class="col-sm-3 text-center column-value">Banheiro privativo</div>
        {% else %}
          <div class="col-sm-3 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        {% if room.media %}
          <div class="col-sm-3 text-center column-value">TV, Projetor, Flipchart</div>
        {% else %}
          <div class="col-sm-3 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row values">
      {% for room in page.rooms %}
        {% if room.private_fridge %}
          <div class="col-sm-3 text-center column-value">Frigobar</div>
        {% else %}
          <div class="col-sm-3 text-center column-value"> – </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="subtitle pull-left">Valores</h3>
      </div>
    </div>
    <div class="row" style="margin-top: -30px; margin-bottom: 15px;">
      <div class="col-sm-6">
        <h9 class="pull-left">Horário Comercial</h9>
      </div>
    </div>
    <div class="row">
      {% for room in page.rooms %}
        <div class="col-sm-3 text-center column-value">{{ room.value_business_hours }}</div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3 class="subtitle pull-left">Valores</h3>
      </div>
    </div>
    <div class="row" style="margin-top: -30px; margin-bottom: 15px;">
      <div class="col-sm-6">
        <h9 class="pull-left">Outros Horários</h9>
      </div>
    </div>
    <div class="row">
      {% for room in page.rooms %}
        <div class="col-sm-3 text-center column-value">{{ room.value_weekends }}</div>
      {% endfor %}
    </div>
  </div>
</div>
