---
layout: page
---

<div class="container post-container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header text-xs-center">
      <div class="post-meta">
        <div class="post-date-feature">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%b %-d, %Y" }}
          </time>
        </div>
        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
        {% if page.author %}
        <p>
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span> •
        </p>
        {% endif %}
      </div>
    </header>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
    {% for tag in page.tags %}
      <li>
        <a href="#">{{ tag }}</a>
      </li>
    {% endfor %}
  </article>
</div>
